.content {
  margin: 20px;
}

.card-body,
.card-footer,
.todo,
.add-card {
  padding: 10px;
  overflow: auto;
}

.card-header,
.card-body {
  border-bottom: 1px solid var(--primary-color);
}

.card,
.add-card {
  background-color: var(--card-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  box-sizing: border-box;
  height: 100%;
  margin: 0 20px 20px 0;
  transition: 0.1s ease-out;
}

/* header */
.card-header {
  padding: 20px;
  word-wrap: break-word;
}

/* body */
.card-body {
}

.todo-list {
}

.todo {
  display: grid;
  align-items: center;
}
.todo:hover {
  background-color: var(--hover-bg-color);
  transition: 0.2s ease-out;
}
.todo-content {
  word-wrap: break-word;
  overflow: hidden;
}
.todo-header {
}
.add-todo {
}

/* footer */
.card-footer {
}
.card-actions {
}
.card-delete-action {
}
