.add-card,
.card,
.todo,
.form,
input[type="text"],
textarea,
.button {
  border-radius: 4px;
}
.form > .title-bar,
.form > .input-bar,
.form > .button-bar {
  padding: 10px;
}

.form {
}

.icon {
  padding: 10px;
  border-radius: 50%;
  transition: 0.2s ease-out;
}

.delete-icon {
  color: var(--text-color);
  transition: 0.2s ease-out;
}
.delete-icon:hover {
  color: var(--warn-color);
  border-radius: 50%;
  cursor: pointer;
}
.icon:hover,
.hide-icon:hover {
  background-color: var(--hover-bg-color);
  color: var(--text-color);
  cursor: pointer;
}

.hide-icon {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 10px 13px;
}

.button {
  border: none;
  background-color: var(--text-color);
  padding: 12px 14px;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  border: none;
  background-color: var(--uniqe-color);
  cursor: pointer;
  box-shadow: 0 0px;
}

input[type="text"],
textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  font-size: 16px;
  color: var(--primary-color);
  border: none;
  font-weight: 600;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 7px 7px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.warn-text {
  color: var(--warn-color);
}
.button-field {
  padding: 10px;
}

form {
  border-top: 1px solid var(--card-color);
  padding: 5px;
}

.form-header {
  padding: 10px 5px;
}
.input-field,
.error-field {
  padding: 5px;
}
