body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #202125;
  color: #f5f5f7;
}
p,
h4,
i,
textarea {
  padding: 0;
  margin: 0;
}
.dark {
  background-color: #282c34;
  color: #f5f5f7;
}

.dark:hover {
  background-color: #363b44;
  color: #f5f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* project CSS ----------------------*/

.project-list {
  margin-right: 50px;
}
.project-list > h3 {
  padding-left: 10px;
}

.project {
  padding: 10px;
  background-color: #282c34;
  color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-left: 5px solid #282c34;
}
.project:hover {
  background-color: #202125;
  border-left: 5px solid #ff644f;
}

.project > .project-title {
  word-wrap: break-word;
}

/* card CSS ----------------------*/
/*
.card {
  background-color: #282c34;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardHeader,
.todoList,
.cardFooter {
  padding: 10px;
}

.cardHeader > *,
.cardFooter .form,
.todoContent,
.createCard {
  padding: 10px;
}

.card,
.todoContent,
.createCard,
.form,
input[type="text"],
textarea,
.button {
  border-radius: 4px;
}

.form > * {
  padding: 10px;
}

.cardHeader {
  border-bottom: 1.25px solid #202125;
  margin-bottom: 0px;
}

.cardHeader > h4 {
  word-wrap: break-word;
  margin: 0;
}

.todoList {
  border-bottom: 1.25px solid #202125;
}

.todoContent {
  margin: 0;
}

.todo > .todoContent:hover {
  background-color: #202125;
}

.createCard {
  background-color: #282c34;
  height: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.addTodo .error {
  color: #ff644f;
  padding-bottom: 0;
}
*/
/* input CSS ----------------------*/

input[type="text"] {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #202125;
  padding: 7px 7px;
  box-sizing: border-box;
  border: none;
}

textarea {
  font-size: 16px;
  width: 100%;
  max-width: 100%;
  font-family: "Raleway", sans-serif;
  color: #202125;
  font-weight: 600;
  padding: 4px 7px;
  box-sizing: border-box;
}

.button {
  border: none;
  background-color: #f5f5f7;
  padding: 12px 14px;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
  border: none;
  background-color: #ff644f;
  color: white;
  cursor: pointer;
  box-shadow: 0 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon {
  padding: 10px;
  border-radius: 50%;
}

.icon:hover {
  background-color: #383c46;
  color: #f5f5f7;
  cursor: pointer;
}
