:root {
  /* bg colors */
  --dark-color: #282c34;
  --primary-color: #202125;
  --secondary-color: #212329;
  --card-color: #282c34;
  --hover-bg-color: #2d313a;
  --uniqe-color: #e5ef9d;
  --warn-color: #ff644f;
  /* input colors */
  --text-color: #f5f5f7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #d8e8e8;
  color: #f5f5f7;
  word-wrap: break-word;
}
p,
h4,
i,
textarea {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.left {
  float: left;
}

.right {
  float: right;
}
