body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.dark {
  background-color: #282c34;
  color: #f5f5f7;
}

.dark:hover {
  background-color: #363b44;
  color: #f5f5f7;
}

.yellw {
  background-color: #fbc02d;
  color: #282c34;
  font-weight: 450;
}
.yellw:hover {
  background-color: #ffcc4d;
  font-weight: 450;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form {
  padding-top: 30px;
}

.signout h5 {
  letter-spacing: 1.1px;
  padding: 10px 0 20px;
}

.project {
  margin: 20px 0;
  padding: 16px;
  background-color: #282c34;
  color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #fbc02d;
  box-shadow: 0 1px 0 0 #000;
}

.todo-card {
  background-color: #fff;
  margin: 10px;
}
